.about {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.page {
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.page.gallery{
    background-color: bisque;
}
.page.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding: 5px;
    height: 120vh;
    color: black;
}
.page.testimonials{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    align-items: flex-start;
    flex-direction: row;
    background-color: gray;
    /* height: 100vh; */
    color: black;
}
.backgroundSlider {
    position: absolute;
    height: 90vh;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: all 1.5s ease;
}
.banner {
    display: flex;
    position: absolute;
    left:0;
    top:10vh;
    height: 90vh;
    width: 35vw;
    opacity: 0.75;
    background-color: black;
    z-index: 1;
    align-items: center;
    justify-content: center;
}
.slide {
    display: flex;
    position: relative;
    width:100vw;
    height: 90vh;
    background-color: white;
}
.backgroundImg{
    width: 100vw;
    height: 90vh;
}
.leftButton {
    position: absolute;
    left: 50px;
    top: 50vh;
    font-size: 48px;
    color: black;
    z-index: 2;
}
.leftButton:hover {
    cursor: pointer;
    color: white;
}
.rightButton {
    position: absolute;
    right: 50px;
    top: 50vh;
    font-size: 48px;
    color: black;
}
.rightButton:hover {
    cursor: pointer;
    color: white;
}
.bannerHeader {
    padding: 0 20px;
    text-align: center;
    color: white;
}
.normalProj {
    display: flex;
    width: 70vw;
    height: 25vh;
    margin: 5px;
    border: black;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: black;
}
.projDesc {
    width: 55vh;
}
.github {
    float: left;
    margin-right: 10px;
}
.projImage {
    width: 300px;
    background-color: black;
    border-radius: 20px;
}
.testimonial {
    display: flex;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    border: black;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.participation {
    width: 25vw;
}
.testimonialImage {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
}