.about {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
}
.page {
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.page.gallery{
    background-color: bisque;
}
.page.projects{
    background-color: white;
}
.page.testimonials{
    background-color: blue;
}