.faq {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1A3139;
}

.title {
    color: #F37434;
    position: absolute;
    margin-bottom: 160vh;
}

.question-box{
    margin-top: 30px;
    border-color: #1A3139;
    width: 100ch;
    height: auto;
    border: 2px solid;
    padding: 12px;
    box-shadow: 10px 4px;
    border-style: inherit;
    background-color: hsl(195, 37%, 22%);
}

.question {
    color: #F37434;
    font-size: xx-large;
    margin-bottom: 25px;

}

.answer {
    color: white;

}

.all-questions {
    margin: 50px;

}