.team {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.circle {
    border-radius: 50%;
}

img:hover {
    filter: blur(1px) brightness(80%);
}